<section id="colors">

    <!-- section title/headline -->
    <div class="row">
      <div class="col-sm-12">
        <h1>Colors</h1>
      </div>
    </div>

    <!-- Left side of section: header and summary -->
    <div class="row">
      <div class="col-sm-5">
        <h3>System Colors</h3>
        <p>System colors are used in standard areas such as side navigation and footers. System colors should be used when looking for a contrast within a given entity color scheme. The strategic use of system colors is strongly encouraged.</p>
      </div>

      <!-- right side of section: content -->
      <div class="col-sm-7">

        <!-- row of headers separate from row of color images for alignment -->
        <div class="row">
          <div class="col-xs-4">
            <h5>Primary</h5>
          </div>

          <div class="col-xs-4">
            <h5>Primary Gradient</h5>
          </div>

          <div class="col-xs-4">
            <h5>Secondary</h5>
          </div>
        </div>

        <!-- row of color images -->
        <div class="row">

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-primary">#333333</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-primary-gradient">#606060</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-secondary">#7c7c7c</span>
            </div>
          </div>

        </div>

        <!-- row of headers separate from row of color images for alignment -->
        <div class="row">
          <div class="col-xs-4">
            <h5>Secondary Gradient</h5>
          </div>

          <div class="col-xs-4">
            <h5>Supporting</h5>
          </div>

          <div class="col-xs-4">
            <h5>Supporting Gradient</h5>
          </div>
        </div>

        <!-- row of color images -->
        <div class="row">

          <div class="col-xs-4">
            <div class="color-circle system-secondary-gradient">
              <span class="color-circle-text">#9f9f9f</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-supporting">#d6d6d6</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-supporting-gradient">#ebebeb</span>
            </div>
          </div>

        </div>

        <!-- row of headers separate from row of color images for alignment -->
        <div class="row">
          <div class="col-xs-4">
            <h5>Success</h5>
          </div>

          <div class="col-xs-4">
            <h5>Processing</h5>
          </div>

          <div class="col-xs-4">
            <h5>Failure</h5>
          </div>
        </div>

        <!-- row of color images -->
        <div class="row">

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-success">#3aa43a</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-processing">#f09f2d</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text system-failure">#d23e3a</span>
            </div>
          </div>

        </div>

      </div>

    </div>

    <br><br>
    <br><br>
    <div class="row">
      <div class="col-sm-5">
        <h3>Entity Colors</h3>
        <p>Entity branding is a specific palette of colors associated with a given HCA brand. These colors will vary from brand to brand, and will act as the primary scheme for the site. In instances where entity branding may become too strong, we suggest using system colors as an offset.</p>
      </div>

      <!-- right side of section: content -->
      <div class="col-sm-7">

        <!-- row of headers separate from row of color images for alignment -->
        <div class="row">
          <div class="col-xs-4">
            <h5>Primary</h5>
          </div>

          <div class="col-xs-4">
            <h5>Primary Gradient</h5>
          </div>

          <div class="col-xs-4">
            <h5>Secondary</h5>
          </div>
        </div>

        <!-- row of color images -->
        <div class="row">

          <div class="col-xs-4">
            <div class="color-circle entity-primary">
              <span class="color-circle-text">#12377f</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle entity-primary-gradient">
              <span class="color-circle-text">#4985c1</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle entity-secondary">
              <span class="color-circle-text">#c6222f</span>
            </div>
          </div>

        </div>

        <!-- row of headers separate from row of color images for alignment -->
        <div class="row">
          <div class="col-xs-4">
            <h5>Secondary Gradient</h5>
          </div>

          <div class="col-xs-4">
            <h5>Supporting</h5>
          </div>

          <div class="col-xs-4">
            <h5>Supporting Gradient</h5>
          </div>
        </div>

        <!-- row of color images -->
        <div class="row">

          <div class="col-xs-4">
            <div class="color-circle entity-secondary-gradient">
              <span class="color-circle-text">#dc3640</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text entity-supporting">#d6d6d6</span>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="color-circle">
              <span class="color-circle-text entity-supporting-gradient">#ebebeb</span>
            </div>
          </div>

        </div>

      </div>

    </div>
    
  </section>



  