<section id="forms">

  <div class="row">
    <div class="col-sm-12">
      <h1>Standard Forms &amp; Asides</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <h3>Forms</h3>
      <p>Standard HCA form styles consist of 20px placeholder text within a 40px height field with 3px rounded corners. To the right are examples of various forms.</p>
    </div>
    <div class="col-sm-7">

      <!-- standard forms row -->
      <div class="row">
        <div class="col-xs-12">
          <h5>Standard Forms</h5>
          
          <!-- text input -->
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Standard Input Field</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Standard Input Field">
          </div>

          <!-- input with success -->
          <div class="form-group has-success has-feedback">
            <label class="control-label sr-only" for="inputSuccess2">Input with success</label>
            <input type="text" class="form-control" id="inputSuccess2" placeholder="Success">
            <i class="fa fa-check fa-lg form-control-feedback"></i>
          </div>

          <!-- select input -->
          <div class="form-group">
            <label class="sr-only" for="disabledSelect">Disabled select menu</label>
            <select id="disabledSelect" class="form-control">
              <option>Select</option>
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Search Input</label>
            <input type="search" class="form-control" placeholder="Enter search term">
            <i class="fa fa-search fa-lg"></i>
          </div>


        </div>
      </div>

      <!-- checkbox and radio button fields row -->
      <div class="row">
        <div class="col-sm-6">
          <h5>Checkbox Fields</h5>
        </div>
        <div class="col-sm-6">
          <h5>Radio Button Fields</h5>
        </div>
      </div>

      <!-- form states row -->
      <div class="row">
        <div class="col-xs-12">
          <h5>Form States</h5>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Horizontal Form Field with Submit Button</h3>
    </div>
  </div>

  <div class="row">
    <!-- insert horizontal form field with submit button -->
  </div>




  <div class="row">

    <div class="col-sm-5">
      <h3>Aside Cards</h3>
      <p>Aside cards act as additional information on a page. They take on varios content. A few variations of the aside card are shown below.</p>
      <!-- insert some aside cards here -->
    </div>

    <div class="col-sm-7">
      <!-- insert some aside cards here -->
    </div>

  </div>




  
</section>