<section id="intro">
	<div class="page-header">
	   <h1>Introduction</h1>
	</div>
	<h3>Why a style guide?</h3>
	<p class="intro-para">
		This guide will serve as a resource in uifying all public facing HCA products. By developing this style guide our hope is to provide direction for all future products. while this is only a guide meant to help in the development process, please contact the BUIXLDERS below when looking to add or tweak the following recommendations.
	</p>

	<h3>Buixlders</h3>
	<div class="row img-row">
			<a href="#">
				<img src="../img/joe.png" alt="..." id="1" class=" img-circle buixldr active-img" height="100" width="100">
			</a>
			<a href="#">
				<img src="../img/colin.jpg" alt="..." id="2" class="img-circle buixldr" height="100" width="100">
			</a>
			<a href="#">
				<img src="../img/david.jpg" alt="..." id="3" class="img-circle buixldr" height="100" width="100">
			</a>
			<a href="#">
				<img src="../img/jakie.jpg" alt="..." id="4" class="img-circle buixldr" height="100" width="100">
			</a>
			<a href="#">
				<img src="../img/ryan.jpg" alt="..." id="5" class="img-circle buixldr" height="100" width="100">
			</a>
			<a href="#">
				<img src="../img/logan.jpg" alt="..." id="6" class="img-circle buixldr" height="100" width="100">
			</a>
	</div>
	<div class="row buixldr-bio active-bio" id="Joe">
		<h3>Joeseph Jacobellis</h3>
		<h3 class="default">Creative Director</h3>
		<p>
			A passionate and highly dynamic end user focused experienced designer and director. I am leading a talented team of front end developers, UI designers, mobile designers to bring better patient care through the information super highway in the form of native web apps.
		</p>
		<p class="col-md-2"><a href="#" class="joe-info" data-toggle="modal" data-target=".joe-modal-sm">Contact info</a></p>
		<!-- Joe contact info modal -->
		<div class="modal fade joe-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		  	<div class="modal-content">
				<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Joeseph Jacobellis</h4>
	      		</div>
		      <p>Phone: (615) 344-6023</p>
		      <p>Email: Joseph.Jacobellis@hcahealthcare.com</p>
		      <div class="modal-footer">
				Buixld
	      </div>
		    </div>
		  </div>
		</div>
		<!-- End Joe contact info modal -->
	</div>

	<div class="row buixldr-bio" id="Colin">
		<h3>Colin Ambrose</h3>
		<h3 class="default">Lead Front-end Developer</h3>
		<p>
			A passionate and highly dynamic end user focused experienced designer and director. I am leading a talented team of front end developers, UI designers, mobile designers to bring better patient care through the information super highway in the form of native web apps.
		</p>
		<p class="col-md-2"><a href="#" class="colin-info" data-toggle="modal" data-target=".colin-modal-sm">Contact info</a></p>
		<!-- colin contact info modal -->
		<div class="modal fade colin-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		  	<div class="modal-content">
				<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Colin Ambrose</h4>
	      		</div>
		      <p>Phone: (615) 344-5115</p>
		      <p>Email: Colin.Ambrose@hcahealthcare.com</p>
		      <div class="modal-footer">
				Buixld
	      </div>
		    </div>
		  </div>
		</div>
		<!-- End colin contact info modal -->
	</div>

	<div class="row buixldr-bio" id="David">
		<h3>David Jahns</h3>
		<h3 class="default">Front-end develper</h3>
		<p>
			A passionate and highly dynamic end user focused experienced designer and director. I am leading a talented team of front end developers, UI designers, mobile designers to bring better patient care through the information super highway in the form of native web apps.
		</p>
		<p class="col-md-2"><a href="#" class="colin-info" data-toggle="modal" data-target=".david-modal-sm">Contact info</a></p>
		<!-- David contact info modal -->
		<div class="modal fade david-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		  	<div class="modal-content">
				<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        		<h4 class="modal-title" id="myModalLabel">David Jahns</h4>
	      		</div>
		      <p>Phone: (615) 344-1771</p>
		      <p>Email: David.Jahns@hcahealthcare.com</p>
		      <div class="modal-footer">
				Buixld
	      </div>
		    </div>
		  </div>
		</div>
		<!-- End colin contact info modal -->
	</div>

	<div class="row buixldr-bio" id="Jacaline">
		<h3>Jaclyn Clark</h3>
		<h3 class="default">Mobile UI designer</h3>
		<p>
			A passionate and highly dynamic end user focused experienced designer and director. I am leading a talented team of front end developers, UI designers, mobile designers to bring better patient care through the information super highway in the form of native web apps.
		</p>
		<p class="col-md-2"><a href="#" class="colin-info" data-toggle="modal" data-target=".jakie-modal-sm">Contact info</a></p>
		<!-- David contact info modal -->
		<div class="modal fade jakie-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		  	<div class="modal-content">
				<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Jaclyn Clark</h4>
	      		</div>
		      <p>Phone: (615) 344-1543</p>
		      <p>Email: Jaclyn.Clark@hcahealthcare.com</p>
		      <div class="modal-footer">
				Buixld
	      </div>
		    </div>
		  </div>
		</div>
		<!-- End colin contact info modal -->
	</div>

	<div class="row buixldr-bio" id="Ryan">
		<h3>Ryan Firm</h3>
		<h3 class="default">Presedent of the Univers</h3>
		<p>
			A passionate and highly dynamic end user focused experienced designer and director. I am leading a talented team of front end developers, UI designers, mobile designers to bring better patient care through the information super highway in the form of native web apps.
		</p>
		<p class="col-md-2"><a href="#" class="colin-info" data-toggle="modal" data-target=".ryan-modal-sm">Contact info</a></p>
		<!-- David contact info modal -->
		<div class="modal fade ryan-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		  	<div class="modal-content">
				<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Ryan Firm</h4>
	      		</div>
		      <p>Phone: (615) 344-6023</p>
		      <p>Email: Ryan.Firm@hcahealthcare.com</p>
		      <div class="modal-footer">
				Buixld
	      </div>
		    </div>
		  </div>
		</div>
		<!-- End colin contact info modal -->
	</div>

	<div class="row buixldr-bio" id="Logan">
		<h3>Logan Hartline</h3>
		<h3 class="default">Senior Product designer</h3>
		<p>
			A passionate and highly dynamic end user focused experienced designer and director. I am leading a talented team of front end developers, UI designers, mobile designers to bring better patient care through the information super highway in the form of native web apps.
		</p>
		<p class="col-md-2"><a href="#" class="colin-info" data-toggle="modal" data-target=".logan-modal-sm">Contact info</a></p>
		<!-- David contact info modal -->
		<div class="modal fade logan-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
		  	<div class="modal-content">
				<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Logan Hartline</h4>
	      		</div>
		      <p>Phone: (615) 344-1502</p>
		      <p>Email: Logan.Hartline@hcahealthcare.com</p>
		      <div class="modal-footer">
				Buixld
	      </div>
		    </div>
		  </div>
		</div>
		<!-- End colin contact info modal -->
	</div>
</section>