<<<<<<< HEAD
@import 'pages/grid.less';
@import 'pages/colors.less';
@import 'pages/buttons-n-icons.less';
=======
@import '../_bower_components/bootstrap/less/bootstrap.less';
@import '../_bower_components/fontawesome/css/font-awesome.min.css';
@import 'crm-main.css';
>>>>>>> f6341a370a0d477de3397cc787ae047621d031df
@import 'pages/framing.less';
@import 'pages/home.less';
@import 'pages/home-v2.less';
@import 'pages/intro.less';
@import 'pages/buttons-n-icons.less';
@import 'pages/colors.less';
@import 'pages/forms.less';

body{
	font-family: 'lato' !important;
}

.test{
	background-color: green;
}

section {
	padding-bottom: 100px;
}