<!-- dir-nav -->
        <div id="direction-nav-wrap" class="col-md-6">
          <div class="col-md-2 direction-nav-menu">
            <p><a href="#">Next</a>
              <span class="next-icon">
                <i class="fa fa-angle-right"></i>
              </span>
            </p>
          </div>
          <div class="col-md-2 direction-nav-menu">
            <p>
            <span class="prev-icon">
              <i class="fa fa-angle-left"></i>
            </span>
            <a href="#">Prev</a></p>
          </div>
        </div>
        <!-- dir-nav end-->