<div class="col-md-2">
  <div id="nav-anchor"></div> <!-- anchor used to calculate distance to top of viewport -->
  <nav class="hidden-print hidden-xs hidden-sm affix side-nav" role="complementary">
    <ul class="nav">

        <div id="logo">
          <h2 class="hca-type">HCA <span class="copyright"><i class="fa fa-copyright"></i></span></h2>
          <h4 class="style-guide-type">Style Guide</h4>
        </div>
        <li class="active">
          <a href="#intro">Intro</a>
        </li>
        <li>
          <a href="#buttons-n-icons">Buttons &amp; Icons</a>
        </li>
        <li>
          <a href="#colors">Colors</a>
        </li>
        <li>
          <a href="#forms">Forms</a>
        </li>
        <li>
          <a href="#grid">Grid</a>
        </li>
        <li>
          <a href="#typefaces">Typefaces</a>
        </li>
        <li>
          <a href="#profile-photos">Profile Photos</a>
        </li>
        <li><a href="#modals">Modals</a></li>
        <li>
          <a href="#tabs">Tabs</a>
        </li>
    </ul>
  </nav>
</div>