<div class="col-md-2">
          <div class="row">
            <ul id="nav-menu" class="list-unstyled">
              <li>
                <div id="page-logo">
                  <h2 class="hca-type">HCA <span class="copyright"><i class="fa fa-copyright"></i></span></h2>
                  <h4 class="style-guide-type">Style Guide</h4>
                </div>
              </li>
              <li class="nav-menu-item"><a href="/sg-intro">Intro</a></li>
              <li class="nav-menu-item"><a href="/buttons-n-icons">Buttons & Icons</a></li>
              <li class="nav-menu-item"><a href="/colors">Colors</a></li>
              <li class="nav-menu-item"><a href="">Forms</a></li>
              <li class="nav-menu-item"><a href="">Grid</a></li>
              <li class="nav-menu-item"><a href="">Typefaces</a></li>
              <li class="nav-menu-item"><a href="">Profile Photos</a></li>
              <li class="nav-menu-item"><a href="">Modals</a></li>
              <li class="nav-menu-item"><a href="">Tabs</a></li>
            </ul>
          </div>
        </div>