<!-- STICKY FOOTER -->
<div id="push"></div>
</div>

<div id="footer">
  <div class="container">
  <!-- <hr> -->
    <div class="row">
      <div class="col-xs-12">
        <h3 class="muted">buixld</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 footer-col">
        <span class="footer-text">Serving as the internal UI/UX arm of HCA.</span>
        <a href="http://www.buixld.com">buixld.com</a>
      </div>
      <div class="col-sm-4 footer-col">
        <a href="http://www.buixld.com">Contact Us</a>
        <a href="http://www.buixld.com">Hospital Corporation of America</a>
        <a href="http://www.buixld.com">Legal Notes</a>
      </div>

      <div class="col-sm-4 footer-col">

        <div class="row">
          <div class="col-sm-4">
            <span>BUIXLD: </span>
          </div>

          <div class="col-sm-8">
            <ul class="footer-social">
              <!-- <span>BUIXLD: </span> -->
              <li><a href="http://www.twitter.com/buixld">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="http://www.instagram.com/buixld">Instagram</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <span>HCA: </span>
          </div>

          <div class="col-sm-8">
            <ul class="footer-social">
              <!-- <span>HCA: </span> -->
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">YouTube</a></li>
            </ul>
          </div>
        </div>



      </div>
    </div>
  </div>