#grid{
	
	.grid-table{
		margin-left: 15px;
	}
	.table-responsive{
		td,th{
			font-weight: lighter;
		}
		th{
			color: #999999;	
		}
		td{
			font-size: 19px;
		}
	}
	.grid-para{
		h4,p{
			font-weight: lighter;
		}
		h4{
			color:#4e4e4e;
			font-size: 24px;
		}
		p{
			
		}
	}
	.grid-blocks{
		margin-top: 30px;
		
		.sec-title{
			font-weight: lighter;
		}
		.label-text{
			font-size: 8px;
			display: inline;
			position: absolute;
			color:#4995d1;
		}
		.mobile-40px{
			top: 60px;
			left: 28px;
		}
		.mobile-20px{
			top: 60px;
			left: 124px;
		}
		.mobile-280px{
			bottom: -27px;
			left: 154px;
		}

		.mobile-blocks{
			.block{
				background-color: #dddddd;
				height: 80px;
				margin-right:0px;
				// margin-bottom: 0px;
				width:40px;
				display: inline-block;
			}
			.space-label{
				border-top: 1px solid #4995d1;
				border-left: 1px solid #4995d1;
				border-right: 1px solid #4995d1;
				padding-right: 20px;
				position: absolute;
				bottom: 25px;
				left: 122px;
				padding-bottom: 90px;
			}
			.block.labeled{
				margin-top: 10px;
			}
			.block-label{
				margin-bottom: 20px;
			}
			.block-label:last-child{
				margin-right: 0px;
			}
			.block-label-show{
				border-top: 1px solid #4995d1;
				border-left: 1px solid #4995d1;
				border-right: 1px solid #4995d1;
				margin-right:20px;
				margin-top: 20px;
				display: inline-block;			
			}
			.block-label-hidden{
				border-top: 1px solid transparent;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				display: inline-block;		

				margin-right:19px;	
			}
		}
		.sec-label{
			border-bottom: 1px solid #4995d1;
			border-left: 1px solid #4995d1;
			border-right: 1px solid #4995d1;
			height: 10px !important;
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding-right: 301px;
			margin-left: 14px;
		}
		.label-wrapper{
			display: inline-block;
		}
	}
}